nav{
    /* background-color:#07070D; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
   

    
}
#mainpage{
    background-color: #5AADBF;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    min-height:90vh;
    color: white;
   
  
 
 
}
#wrapper{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}
#nav-left {
  width: 50%; 


}

#nav-right  {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap:10px ;

    
 
}
a{
    text-decoration: none;
    color: white;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.home{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.elementsHome{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;

}

.listCH a{
    background-color: black;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
}
.listCH a:hover {
    transform: scale(110%);
}

.list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
 

  
}
.list a{
    background-color: #07070D;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition: 0.5s;
    border-radius: 5px;
}

.list a:hover{
    transform: scale(110%);
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
   
   
   
}
.borderList{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    border-color: black
}
.borderList1{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    border-color: black;
    margin-top: 100px
}
.borderList1 input{
    padding: 5px;
    
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border-radius: 20px;

   
}

.listTopic{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
   
}
.listTopic span{
    background-color: #07070D;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 5px;

}
.listTopic span:hover{
    transform:scale(110%) ;
}

.listPosts{
    background-color: #07070D;
    display: flex;
  padding: 10px;
    gap: 10px;
    flex-direction: column;
    border-radius: 10px;
 
}

.one{
    font-size: 25px;

}

.date {
   width: 50%;
    /* background-color: #5AADBF; */
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.button{
    border-radius: 20px;
    padding: 5px;

}



