nav{
    /* background-color:#07070D; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
   background-color:rgba(0, 0, 255, 0.284);


    
}
#mainpage{
    background-color: #2f2b6c;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    min-height:90vh;
    color: white;
   
  
 
 
}
#wrapper{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}
#nav-left {
  width: 50%; 


}

#nav-right  {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap:10px ;

    
 
}
a{
    text-decoration: none;
    color: white;
}
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.home{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.elementsHome{
    display:flex ;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;

}

.listCH a{
    background-color: ;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;
    background-color:rgba(0, 0, 255, 0.284);
}
.listCH a:hover {
    transform: scale(110%);
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 100px;
   
   
   


}
.list p  {
 
    border: 1px dashed black;
   border-radius: 20px;
    min-width: 20%;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.284);
    
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    box-shadow:0 8px 32px 0 rgba(142, 89, 89, 0.547);
    font-size: 25px;
    
}







form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
   
   
   
}
.borderList{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    border-color: black ;
}
.borderList1{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    border-color: black;
    margin-top: 100px;
}
.borderList1 input{
    padding: 5px;
    
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border-radius: 5px;
    border-style: solid;
   

   
}
.case {
    border-style: solid;
    border-radius: 10px;
    
    min-width: 40vw;
    min-height: 30vh;
    padding: 10px;
    
  
  
   
}

.listTopic{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
   
}
.listPostList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
   padding: 10px;
   border: 1px dashed black;
   border-radius: 20px;
    margin: 10px;
    
   

}
.listPostList .one {
/* background-color: red; */
display: flex;
padding: 10px;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: 25px;


}










.listPosts{
    background-color: #07070D;
    display: flex;
  padding: 10px;
    gap: 10px;
    flex-direction: column;
    border-radius: 10px;
 
}



.date {
   width: 50%;
    /* background-color: #5AADBF; */
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.button{
    border-radius: 20px;
    padding: 5px;

}


.listTopic{
    display: flex;
    
    justify-content: space-around;
   margin: 10px;
   border: 1px dashed black;
   border-radius: 20px;

   
}
.listTopic p {
   
    min-width: 22%;
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
   
    
}
.vide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  

}
.nomCategorie{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.topics{
display: flex;
    gap:20px;
  min-width: 20vw;
  min-height: 20vh;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: red;
}
.topics span {
    background-color: blue;
    width: 30%;
}




